.modifyIcon::after {
    font-family: 'Bootstrap-icons';
    content: '\F5DE';
}

.deleteIcon::after {
    font-family: 'Bootstrap-icons';
    content: '\F4C8';
}

.deleteContainer {
    display: block;
}

.customButton {
    width: 60px !important;
}
